body {
    background-color: LightSteelBlue;
    /*text-align: center;*/
  }
  #grid {
    display: inline-block;
    background-color: SteelBlue;
    /*margin: 0 auto;*/
   /* padding: 10px;**/
  }
  
  #grid div {
/* margin: 0 auto;
    overflow: hidden;*/
  }
  
  #grid button {
    width: 10vw;
    height: 100px;
    font-weight: bold;
    font-size: 50px;
    margin: 5px;
    float:left;
  }
